* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(240, 168, 168);
}

.sectionOne,
.sectionTwo {
    max-width: 1000px;
    margin: 50px auto;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

img {
    width: 130px;
    height: 80px;
    margin: 0 auto; /* Center the image */
}

button {
    border-radius: 5px;
    background-color: bisque;
}

.back-button {
    color: white;
    margin-left: 20px;
    margin-top: 25px;
    text-decoration: none;
    transition: .5s;
}

.back-button:hover {
    color: red;
}

nav {
    margin-top: 20px;
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
    width: 75px;
    height: 25px;
    margin-left: 10px;
}

.contact {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .sectionOne,
    .sectionTwo {
        margin: 20px auto; /* Adjust margin for smaller screens */
        padding: 20px; /* Add padding for better spacing */
    }

    img {
        width: 100px; /* Adjust image size for smaller screens */
        height: auto;
    }

    .back-button {
        margin-left: 10px; /* Adjust margin for smaller screens */
        margin-top: 20px;
    }
}
